# Compiled class files
*.class
/WebContent/WEB-INF/classes/

# Temp files & Logs
*.log
*.tmp
.DS_Store

# IDE / Editor folders
.vscode/
.settings/
.classpath
.project

# Sensitive Data / Uploads
/WebContent/uploads/*
!/WebContent/uploads/.gitkeep